Repository ctisbtes/btes, pull requests merged in 2021-04, with the labels that each got.

#98 Code standards
  standards/code.md
Labels: root

#123 Peer dependencies
  backend/package.json
  frontend/package.json
  yarn.lock
Labels: backend, frontend, root

#129 Transactions in Blocks
  backend/src/core/blockchain/modules/BlockchainWallet.ts
  backend/src/core/blockchain/modules/miner/BlockchainMiner.ts
  backend/src/core/blockchain/modules/miner/beginMining.spec.ts
  backend/src/core/commands/BlockchainBroadcastMinedBlockCommand.ts
  backend/src/core/commands/BlockchainBroadcastTxCommand.ts
  common/src/blockchain/miner/BlockchainBlockTemplate.ts
  frontend/src/components/NodeModal/NodeModal.tsx
  frontend/src/components/blockchain/BlockchainBlockCard/BlockchainBlockCard.tsx
  frontend/src/components/blockchain/BlockchainBlockDbPane/BlockchainBlockDbPane.tsx
  frontend/src/components/blockchain/BlockchainCreateTxModal/BlockchainCreateTxModal.tsx
  frontend/src/components/blockchain/BlockchainMinerPane/comps/IdleView/BlockchainMinerIdleView.tsx
  frontend/src/components/blockchain/BlockchainTxCard/BlockchainTxCard.tsx
  frontend/src/components/blockchain/BlockchainTxPoolPane/BlockchainTxPoolPane.tsx
  frontend/src/components/blockchain/NodeBlockchainDashboard/NodeBlockchainDashboard.tsx
  frontend/src/hooks/useTxFeeCalculator.ts
  frontend/src/hooks/useTxInputSumCalculator.ts
  frontend/src/hooks/useTxOutputSumCalculator.ts
  frontend/src/hooks/useTxsTotalFeeCalculator.ts
  frontend/src/style/global.scss
Labels: backend, common, frontend

#131 Help instruction
  frontend/config/markdownLoaderRenderer.js
  frontend/config/webpack.config.js
  frontend/package.json
  frontend/src/components/App/App.tsx
  frontend/src/components/Markdown/Markdown.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/docs/DocManifest.ts
  frontend/src/docs/acknowledgements/content.md
  frontend/src/docs/acknowledgements/manifest.ts
  frontend/src/docs/acknowledgements/res/apibanner.jpg
  frontend/src/docs/acknowledgements/res/link.png
  frontend/src/docs/allDocManifests.ts
  frontend/src/docs/btesworks/content.md
  frontend/src/docs/btesworks/manifest.ts
  frontend/src/docs/btesworks/res/btesbanner.jpg
  frontend/src/docs/btesworks/res/thinkinaboutbck.png
  frontend/src/docs/coursecatalog/content.md
  frontend/src/docs/coursecatalog/manifest.ts
  frontend/src/docs/coursecatalog/res/bchain.jpg
  frontend/src/docs/coursecatalog/res/coursebanner.jpg
  frontend/src/docs/coursecontent/content.md
  frontend/src/docs/coursecontent/manifest.ts
  frontend/src/docs/coursecontent/res/contentsbanner.jpeg
  frontend/src/docs/docsService.ts
  frontend/src/docs/foo/content.md
  frontend/src/docs/foo/manifest.ts
  frontend/src/docs/foo/res/cloudy-road.jpg
  frontend/src/docs/foo/res/woman-using-camera.jpg
  frontend/src/docs/glossary/content.md
  frontend/src/docs/glossary/manifest.ts
  frontend/src/docs/glossary/res/bdictionry.jpg
  frontend/src/docs/glossary/res/blockchaindictionary.jpg
  frontend/src/docs/glossary/res/blockchaingraduate.png
  frontend/src/docs/home/content.md
  frontend/src/docs/home/manifest.ts
  frontend/src/docs/home/res/bgrad.jpg
  frontend/src/docs/home/res/bgrad.png
  frontend/src/docs/home/res/gradblockchain.jpg
  frontend/src/docs/platformbasics/content.md
  frontend/src/docs/platformbasics/manifest.ts
  frontend/src/docs/platformbasics/res/2-tile-internal-web.jpg
  frontend/src/pages/Help/Help.scss
  frontend/src/pages/Help/Help.tsx
  frontend/src/pages/Signin/Signin.tsx
  frontend/src/types.d.ts
  yarn.lock
Labels: frontend, root

#132 Blockchain: UTXO Set & Overview Pane
  backend/src/core/Simulation.ts
  backend/src/core/SimulationNamespaceEmitter.ts
  backend/src/core/blockchain/modules/BlockchainWallet.ts
  backend/src/core/blockchain/modules/miner/BlockchainMiner.ts
  common/src/blockchain/snapshots/BlockchainWalletSnapshot.ts
  common/src/constants/socketEvents.ts
  common/src/socketPayloads/BlockchainOwnUtxoSetChangedPayload.ts
  frontend/.eslintrc.js
  frontend/src/components/blockchain/BlockchainBlockCard/BlockchainBlockCard.tsx
  frontend/src/components/blockchain/BlockchainOverviewPane/BlockchainOverviewPane.tsx
  frontend/src/components/blockchain/BlockchainOwnUtxoSetCard/BlockchainOwnUtxoSetCard.scss
  frontend/src/components/blockchain/BlockchainOwnUtxoSetCard/BlockchainOwnUtxoSetCard.tsx
  frontend/src/components/blockchain/BlockchainTxCard/BlockchainTxCard.tsx
  frontend/src/components/blockchain/BlockchainWalletPane/BlockchainWalletPane.tsx
  frontend/src/components/blockchain/NodeBlockchainDashboard/NodeBlockchainDashboard.tsx
  frontend/src/hooks/useFundsCalculator.ts
  frontend/src/hooks/useKeyGenerator.ts
  frontend/src/hooks/useTxOutputSumCalculator.ts
  frontend/src/services/SimulationSocketListener.ts
  frontend/src/state/simulation/actionPayloads/BlockchainOwnUtxoSetChangedActionPayload.ts
  frontend/src/state/simulation/data/blockchain/BlockchainBlockDbData.ts
  frontend/src/state/simulation/data/blockchain/BlockchainWalletData.ts
  frontend/src/state/simulation/simulationSlice.ts
  frontend/src/state/simulation/utils/makeBlockLookup.ts
  frontend/src/state/simulation/utils/makeNodeData.ts
  frontend/src/utils/txGetPlaceToDisplayString.ts
Labels: backend, common, frontend

#130 Real data explorer
  frontend/package.json
  frontend/src/components/App/App.tsx
  frontend/src/components/LoaderMask/LoaderMask.tsx
  frontend/src/components/LoaderMask/three-dots.svg
  frontend/src/components/explorer/DataExplorerAddressDetailModal/DataExplorerAddressDetailModal.tsx
  frontend/src/components/explorer/DataExplorerBlockDetailTable/DataExplorerBlockDetailTable.scss
  frontend/src/components/explorer/DataExplorerBlockDetailTable/DataExplorerBlockDetailTable.tsx
  frontend/src/components/explorer/DataExplorerBlockModal/DataExplorerBlockModal.tsx
  frontend/src/components/explorer/DataExplorerBlockTransactionCard/DataExplorerBlockTransactionCard.scss
  frontend/src/components/explorer/DataExplorerBlockTransactionCard/DataExplorerBlockTransactionCard.tsx
  frontend/src/components/explorer/DataExplorerLinearChart/DataExplorerLineChart.scss
  frontend/src/components/explorer/DataExplorerLinearChart/DataExplorerLineChart.tsx
  frontend/src/components/explorer/DataExplorerTopInfo/DataExplorerTopInfo.scss
  frontend/src/components/explorer/DataExplorerTopInfo/DataExplorerTopInfo.tsx
  frontend/src/components/explorer/DataExplorerTransactionDetailTable/DataExplorerTransactionDetailTable.scss
  frontend/src/components/explorer/DataExplorerTransactionDetailTable/DataExplorerTransactionDetailTable.tsx
  frontend/src/components/explorer/DataExplorerTransactionInputOutputDetail/DataExplorerTransactionInputOutputDetail.scss
  frontend/src/components/explorer/DataExplorerTransactionInputOutputDetail/DataExplorerTransactionInputOutputDetail.tsx
  frontend/src/components/explorer/DataExplorerTransactionModal/DataExplorerTransactionModal.tsx
  frontend/src/pages/DataExplorer/DataExplorer.scss
  frontend/src/pages/DataExplorer/DataExplorer.tsx
  frontend/src/pages/DataExplorerBlockList/DataExplorerBlockList.scss
  frontend/src/pages/DataExplorerBlockList/DataExplorerBlockList.tsx
  frontend/src/pages/DataExplorerTransactionList/DataExplorerTransactionList.scss
  frontend/src/pages/DataExplorerTransactionList/DataExplorerTransactionList.tsx
  frontend/src/services/explorer/AddressAPI.ts
  frontend/src/services/explorer/BlockListAPI.ts
  frontend/src/services/explorer/CurrenciesChartAPI.ts
  frontend/src/services/explorer/MarketDataAPI.ts
  frontend/src/services/explorer/SingleBlockAPI.ts
  frontend/src/services/explorer/SingleTransactionAPI.ts
  frontend/src/services/explorer/TransactionListAPI.ts
  frontend/src/services/explorer/data/CommonTypes.ts
  frontend/src/services/explorer/data/address/DataExplorerAddressBalance.ts
  frontend/src/services/explorer/data/block/DataExplorerBlock.ts
  frontend/src/services/explorer/data/block/DataExplorerBlockWithTransactions.ts
  frontend/src/services/explorer/data/market/DataExplorerCurrenciesChartData.ts
  frontend/src/services/explorer/data/market/DataExplorerCurrenciesChartDataRaw.ts
  frontend/src/services/explorer/data/market/DataExplorerMarketData.ts
  frontend/src/services/explorer/data/transaction/DataExplorerSpendingOutpoints.ts
  frontend/src/services/explorer/data/transaction/DataExplorerTransaction.ts
  frontend/src/services/explorer/data/transaction/DataExplorerTransactionInput.ts
  frontend/src/services/explorer/data/transaction/DataExplorerTransactionOut.ts
  frontend/src/services/explorer/data/transaction/DataExplorerTransactionPrevOut.ts
  frontend/src/services/explorer/data/transaction/DataExplorerTransactionSpendingOutpoint2.ts
  frontend/src/services/explorer/data/transaction/DataExplorerTransactionWithBalance.ts
  frontend/src/services/explorer/data/transaction/DataExplorerUnconfirmedTransaction.ts
  frontend/src/utils/formatNumberToBitcoin.ts
  yarn.lock
Labels: frontend, root

#136 MongoDB Integration
  README.md
  backend/.env.example
  backend/package.json
  backend/src/app.ts
  backend/src/database/TestModel.ts
  backend/src/database/connectToDb.ts
  backend/src/restControllers/helloWorld/helloWorldController.ts
  backend/src/restControllers/simulationInstanceBroker/simulationInstanceBrokerController.ts
  backend/src/restControllers/test/testController.ts
  backend/src/restMiddlewares/requestLoggerMiddleware.ts
  backend/src/server.ts
  common/src/database/TestData.ts
  common/src/database/mongooseIntrinsics.ts
  package.json
  yarn.lock
Labels: backend, common, root

#137 Authentication (backend)
  backend/.env.example
  backend/package.json
  backend/src/auth/authTokenBlacklistService.ts
  backend/src/auth/tsoaAuthModule.ts
  backend/src/database/UserModel.ts
  backend/src/database/connectToDb.ts
  backend/src/restControllers/auth/authController.ts
  backend/tsoa.json
  common/src/auth/AuthLoginBody.ts
  common/src/auth/AuthRegisterBody.ts
  common/src/database/UserData.ts
  yarn.lock
Labels: backend, common, root

#139 Save & load
  backend/package.json
  backend/src/core/Simulation.ts
  backend/src/core/simulationManager.ts
  backend/src/database/SimulationSaveDataModel.ts
  backend/src/restControllers/simulationInstanceBroker/simulationInstanceBrokerController.ts
  backend/src/utils/uidGenerators.ts
  common/src/database/SimulationSaveData.ts
  common/src/saveLoad/SimulationSaveMetadata.ts
  common/src/saveLoad/SimulationSaveMetadataList.ts
  frontend/package.json
  frontend/src/components/RelativeDate/RelativeDate.tsx
  frontend/src/components/SimulationSaveListItem/SimulationSaveListItem.tsx
  frontend/src/pages/Sandbox/Sandbox.scss
  frontend/src/pages/Sandbox/Sandbox.tsx
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/services/simulationInstanceService.ts
  frontend/src/utils/ensureDate.ts
  yarn.lock
Labels: backend, common, frontend, root

#140 Backend: Token validation & User detail endpoints for Auth route
  backend/src/auth/AuthTokenData.ts
  backend/src/auth/AuthenticatedExpressRequest.ts
  backend/src/auth/decodeAuthToken.ts
  backend/src/auth/tsoaAuthModule.ts
  backend/src/restControllers/auth/authController.ts
  common/src/auth/TokenValidationResponse.ts
Labels: backend, common

#142 Import & Export
  backend/src/restControllers/simulationInstanceBroker/simulationInstanceBrokerController.ts
  common/src/importExport/SimulationExport.ts
  frontend/src/pages/Sandbox/Sandbox.scss
  frontend/src/pages/Sandbox/Sandbox.tsx
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/services/simulationInstanceService.ts
Labels: backend, common, frontend

#143 frontend:start learning, explorer, sign in button capital Letter ...
  frontend/src/components/App/App.tsx
  frontend/src/docs/allDocManifests.ts
  frontend/src/docs/foo/content.md
  frontend/src/docs/foo/manifest.ts
  frontend/src/docs/foo/res/cloudy-road.jpg
  frontend/src/docs/foo/res/woman-using-camera.jpg
  frontend/src/pages/Home/Home.tsx
Labels: frontend
