Repository ctisbtes/btes, pull requests merged in 2021-03, with the labels that each got.

#78 Dependency caret range conversion & Minor dependency upgrade
  frontend/package.json
  yarn.lock
Labels: frontend, root

#79 Connection latency adjustment (services and state only, no visuals)
  backend/src/core/SimulationNamespaceEmitter.ts
  backend/src/core/SimulationNamespaceListener.ts
  backend/src/core/commands/SimulationConnectionChangeLatencyCommand.ts
  backend/src/core/network/NodeConnection.ts
  backend/src/core/network/NodeConnectionMap.ts
  common/src/constants/socketEvents.ts
  common/src/socketPayloads/SimulationConnectionChangeLatencyPayload.ts
  common/src/socketPayloads/SimulationConnectionLatencyChangedPayload.ts
  frontend/src/services/SimulationSocketListener.ts
  frontend/src/services/simulationBridge.ts
  frontend/src/state/simulation/actionPayloads/SimulationConnectionLatencyChangedActionPayload.ts
  frontend/src/state/simulation/simulationSlice.ts
Labels: backend, common, frontend

#80 UI change
  frontend/package.json
  frontend/src/components/SimulationNode/SimulationNode.tsx
  frontend/src/components/SimulationNodeConnection/SimulationNodeConnection.tsx
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/utils/nodeIdFormatters.ts
  yarn.lock
Labels: frontend, root

#84 Node connection modal view
  frontend/src/components/NodeConnectionModal/NodeConnectionModal.tsx
  frontend/src/components/SimulationNodeConnection/SimulationNodeConnection.tsx
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
Labels: frontend

#90 Login
  frontend/src/components/App/App.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Signin/Signin.scss
  frontend/src/pages/Signin/Signin.tsx
  frontend/src/pages/Signin/sand.jpg
Labels: frontend

#93 Undo/Redo backend crash bugfix
  backend/src/core/blockchain/NodeBlockchainApp.ts
  backend/src/core/blockchain/modules/BlockchainBlockDb.ts
Labels: backend

#95 Maintenance and general cleanup
  backend/src/core/blockchain/NodeBlockchainApp.ts
  common/src/blockchain/crypto/BlockchainLockingScript.js
  common/src/blockchain/crypto/BlockchainLockingScript.js.map
  common/src/blockchain/crypto/BlockchainUnlockingScript.js
  common/src/blockchain/crypto/BlockchainUnlockingScript.js.map
  common/src/blockchain/tx/BlockchainCoinbaseTxInput.js
  common/src/blockchain/tx/BlockchainCoinbaseTxInput.js.map
  common/src/blockchain/tx/BlockchainTx.js
  common/src/blockchain/tx/BlockchainTx.js.map
  common/src/blockchain/tx/BlockchainTxInput.js
  common/src/blockchain/tx/BlockchainTxInput.js.map
  common/src/blockchain/tx/BlockchainTxOutPoint.js
  common/src/blockchain/tx/BlockchainTxOutPoint.js.map
  common/src/blockchain/tx/BlockchainTxOutput.js
  common/src/blockchain/tx/BlockchainTxOutput.js.map
  common/src/blockchain/utils/encodeBuffer.js
  common/src/blockchain/utils/encodeBuffer.js.map
  common/src/blockchain/utils/hashPartialTx.ts
  common/src/crypto/hashBuffer.js
  common/src/crypto/hashBuffer.js.map
  package.json
Labels: backend, common, root

#112 Dependabot/npm and yarn/jsum 1.0.1
  backend/package.json
  common/package.json
  common/src/blockchain/utils/hashBlock.spec.ts
  frontend/package.json
  yarn.lock
Labels: backend, common, frontend, root

#113 Frontend: Disabled eslint during build
  frontend/config/webpack.config.js
  frontend/package.json
  yarn.lock
Labels: frontend, root
