Repository ctisbtes/btes, pull requests merged in 2021-05, with the labels that each got.

#145 Frontend auth
  backend/src/restControllers/auth/authController.ts
  frontend/src/components/App/App.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/helpers/axiosAuth.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/ProfileDetail/ProfileDetail.scss
  frontend/src/pages/ProfileDetail/ProfileDetail.tsx
  frontend/src/pages/Signin/Signin.tsx
  frontend/src/services/authenticationService.ts
  frontend/src/state/store.ts
  frontend/src/state/user/actionPayloads/SetCurrentUserActionPayload.ts
  frontend/src/state/user/data/CurrentUserData.ts
  frontend/src/state/user/userSlice.ts
  frontend/src/state/user/userSliceState.ts
Labels: backend, frontend

#148 frontend: home page typing effect is done
  frontend/package.json
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
  yarn.lock
Labels: frontend, root

#147 User Details Update added
  backend/src/restControllers/auth/authController.ts
  common/src/auth/AuthUpdateBody.ts
  frontend/src/helpers/axiosAuth.ts
  frontend/src/pages/ProfileDetail/ProfileDetail.scss
  frontend/src/pages/ProfileDetail/ProfileDetail.tsx
  frontend/src/pages/Signin/Signin.tsx
  frontend/src/services/authenticationService.ts
Labels: backend, common, frontend

#149 Users simulations filter
  backend/src/database/SimulationSaveDataModel.ts
  backend/src/restControllers/simulationInstanceBroker/simulationInstanceBrokerController.ts
  common/src/database/SimulationSaveData.ts
  common/src/importExport/SimulationExportData.ts
  frontend/src/components/Alert/AlertMessage.scss
  frontend/src/components/Alert/AlertMessage.tsx
  frontend/src/components/App/App.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/ProfileDetail/ProfileDetail.tsx
  frontend/src/pages/Sandbox/Sandbox.tsx
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/services/simulationInstanceService.ts
Labels: backend, common, frontend

#151 Simulation UI fix
  frontend/src/components/SimulationNode/SimulationNode.scss
  frontend/src/components/SimulationNode/SimulationNode.tsx
  frontend/src/components/SimulationNode/pc.png
Labels: frontend

#153 Node rename
  backend/src/core/Simulation.ts
  backend/src/core/SimulationNamespaceEmitter.ts
  backend/src/core/SimulationNamespaceListener.ts
  backend/src/core/SimulationNode.ts
  backend/src/core/commands/SimulationRenameNodeCommand.ts
  common/src/SimulationNodeSnapshot.ts
  common/src/constants/socketEvents.ts
  common/src/socketPayloads/SimulationNodeRenamedPayload.ts
  common/src/socketPayloads/SimulationRenameNodePayload.ts
  frontend/src/components/Alert/AlertMessage.scss
  frontend/src/components/NodeModal/NodeModal.tsx
  frontend/src/components/SimulationNode/SimulationNode.scss
  frontend/src/components/SimulationNode/SimulationNode.tsx
  frontend/src/pages/ProfileDetail/ProfileDetail.scss
  frontend/src/services/SimulationSocketListener.ts
  frontend/src/services/simulationBridge.ts
  frontend/src/state/simulation/actionPayloads/SimulationNodeRenamedActionPayload.ts
  frontend/src/state/simulation/data/NodeData.ts
  frontend/src/state/simulation/simulationSlice.ts
  frontend/src/state/simulation/utils/makeNodeData.ts
Labels: backend, common, frontend

#154 Simulation create params
  backend/src/core/Simulation.ts
  backend/src/core/simulationManager.ts
  backend/src/restControllers/lessonsBroker/lessonsBrokerController.ts
  backend/src/restControllers/simulationInstanceBroker/simulationInstanceBrokerController.ts
  common/src/SimulationSnapshot.ts
  frontend/src/components/SimulationBlockchainConfigModal/SimulationBlockchainConfigModal.scss
  frontend/src/components/SimulationBlockchainConfigModal/SimulationBlockchainConfigModal.tsx
  frontend/src/pages/Sandbox/Sandbox.tsx
  frontend/src/services/simulationInstanceService.ts
Labels: backend, common, frontend
