Repository ctisbtes/btes, pull requests merged in 2021-02, with the labels that each got.

#38 CSS Restructure
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/App/App.scss
  frontend/src/components/App/App.tsx
  frontend/src/components/SimulationNode/SimulationNode.tsx
  frontend/src/index.scss
  frontend/src/pages/Home/Home.scss
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Sandbox/Sandbox.scss
  frontend/src/pages/Sandbox/Sandbox.tsx
  frontend/src/pages/SandboxSimulation/SandboxSimulation.scss
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/style/global.scss
  frontend/src/style/react-contextmenu.scss
  frontend/src/thirdParty.d.ts
  yarn.lock
Labels: frontend

#39 package.json simplifications
  backend/package.json
  frontend/package.json
  package.json
  yarn.lock
Labels: backend, common, frontend, root

#44 Undo redo backend
  backend/src/core/Simulation.ts
  backend/src/core/SimulationNamespaceListener.ts
  backend/src/core/simulationManager.ts
  backend/src/core/undoRedo/ActionHistoryKeeper.ts
  backend/src/core/undoRedo/UndoubleAction.ts
  common/src/constants/socketEvents.ts
Labels: backend, common

#49 Undo Redo (Frontend)
  backend/src/core/SimulationNamespaceListener.ts
  backend/src/core/commands/SimulationCreateNodeCommand.ts
  backend/src/core/commands/SimulationDeleteNodeCommand.ts
  backend/src/core/commands/SimulationUpdateNodePositionCommand.ts
  backend/src/core/undoRedo/ActionHistoryKeeper.ts
  backend/src/core/undoRedo/UndoubleAction.ts
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/SandboxSimulation/SandboxSimulation.scss
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/services/simulationBridge.ts
Labels: backend, frontend

#50 VSCode configuration for debugging in IDE
  .vscode/extensions.json
  .vscode/launch.json
  backend/.vscode
  backend/.vscode/extensions.json
  backend/.vscode/launch.json
  backend/.vscode/settings.json
  common/.vscode/extensions.json
  common/.vscode/settings.json
  frontend/.vscode
  frontend/.vscode/extensions.json
  frontend/.vscode/launch.json
  frontend/.vscode/settings.json
Labels: backend, common, frontend, root

#62 Waiting for network latency (mails)
  backend/src/core/Simulation.ts
  backend/src/core/SimulationNamespaceListener.ts
  backend/src/core/SimulationNode.ts
  backend/src/core/commands/SimulationDeleteNodeCommand.ts
  backend/src/core/network/ControlledTimerService.ts
  backend/src/core/network/NodeConnectionMap.ts
  backend/src/core/simulationManager.ts
Labels: backend

#64 Pause-Resume
  backend/src/core/Simulation.ts
  backend/src/core/SimulationNamespaceEmitter.ts
  backend/src/core/SimulationNamespaceListener.ts
  backend/src/core/network/ControlledTimerService.ts
  backend/src/core/simulationManager.ts
  common/src/ControlledTimerServiceSnapshot.ts
  common/src/SimulationSnapshot.ts
  common/src/constants/socketEvents.ts
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/services/SimulationSocketListener.ts
  frontend/src/services/simulationBridge.ts
  frontend/src/state/simulation/actionPayloads/SimulationPausedActionPayload.ts
  frontend/src/state/simulation/actionPayloads/SimulationResumedActionPayload.ts
  frontend/src/state/simulation/data/ControlledTimerServiceData.ts
  frontend/src/state/simulation/data/SimulationData.ts
  frontend/src/state/simulation/simulationSlice.ts
Labels: backend, common, frontend

#65 Simulation Speed Control
  backend/src/core/SimulationNamespaceEmitter.ts
  backend/src/core/SimulationNamespaceListener.ts
  backend/src/core/network/ControlledTimerService.ts
  common/src/ControlledTimerServiceSnapshot.ts
  common/src/constants/socketEvents.ts
  common/src/socketPayloads/SimulationChangeTimeScalePayload.ts
  common/src/socketPayloads/SimulationTimeScaleChangedPayload.ts
  frontend/src/pages/SandboxSimulation/SandboxSimulation.scss
  frontend/src/pages/SandboxSimulation/SandboxSimulation.tsx
  frontend/src/services/SimulationSocketListener.ts
  frontend/src/services/simulationBridge.ts
  frontend/src/state/simulation/actionPayloads/SimulationTimeScaleChangedActionPayload.ts
  frontend/src/state/simulation/data/ControlledTimerServiceData.ts
  frontend/src/state/simulation/simulationSlice.ts
Labels: backend, common, frontend

#67 Devops (frontend): Environment variable for HPM log level
  frontend/.env.example
  frontend/config/setupProxy.js
Labels: frontend

#68 Blockchain view v2
  backend/src/core/SimulationNode.ts
  backend/src/utils/dummyBlockchain.ts
  common/src/BlockchainBlock.ts
  common/src/SimulationNodeSnapshot.ts
  frontend/package.json
  frontend/src/components/BlockchainTreeView/BlockchainTreeView.scss
  frontend/src/components/BlockchainTreeView/BlockchainTreeView.tsx
  frontend/src/components/NodeModal/NodeModal.tsx
  frontend/src/components/SimulationNode/SimulationNode.tsx
  frontend/src/state/simulation/data/NodeData.ts
  yarn.lock
Labels: backend, common, frontend, root

#77 Batch minor dependency upgrade and minor dependency upgrade utilities
  backend/package.json
  backend/scripts/yarn-sync.js
  common/package.json
  common/scripts/yarn-sync.js
  frontend/package.json
  frontend/scripts/yarn-sync.js
  package.json
  scripts/yarn-sync.js
  yarn.lock
Labels: backend, common, dependencies, frontend, root

#75 Unit Testing Setup
  README.md
  backend/jest.config.js
  backend/package.json
  backend/src/utils/uidGenerators.spec.ts
  common/jest.config.js
  common/package.json
  common/src/utils/hasValue.spec.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/scripts/test.js
  frontend/src/utils/itemwiseEqual.spec.ts
  jest.config.js
  package.json
  yarn.lock
Labels: backend, common, frontend, root
